* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    height: 100%;
    color: #fff;
    text-align: center;

}

img {
    width: 150px;
    height: auto;
}

a {
    color: red;
    text-decoration: none;
    font-style: italic;
}

main {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    background-color: rgb(49, 49, 49);
    height: 0 auto;
}

#maintitle {
    text-align: center;
    position: sticky;
    top: 0;
    background-color: rgb(49, 49, 49);
    z-index: 0;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    border-bottom: 3px solid darkred;
}


section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

#description-anime-text {
    text-align: justify;
    display: flex;

}

header h3 {

    background-color: brown;
    color: #fff;
}

.character-card {
    display: flex;
    flex-direction: column;
}

.character-card header {

    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    word-spacing: 13px;
    letter-spacing: 5px;
}

.character-card header h4 {
    background-color: darkred;
    width: 50% ;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 550px;
}

.description-image-container {
    display: flex;
    flex-direction: row;
    height: auto;
    place-items: center;
    padding: 20px;
}

footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: 5px;
}

footer span {
    margin: 5px;
}

footer p {
    font-size: 16px;
}